@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    font-family: "Noto Sans Thai", serif;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #FFFF;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #ff0000, #ffff00, #92ff92, #53a3ff, #a5008f, #ff8a9d);
    border-radius: 4px;
}


.sidebar {
    li {
        margin: 15px 0;
        
        a {
            display: line-block;
            text-decoration: none;
            color: rgb(59, 130, 246);
            box-sizing: border-box;
            transition: border-bottom 0.2s ease, padding-bottom 0.3s ease;

            &:hover,
            &.active {
                border-bottom: 2px solid rgb(59, 130, 246);
                padding-bottom: 5px;
                width: 100%;
            }
        }
    }
}


.navb {
    li {
        margin: 15px 0;
        
        a {
            display: ruby;
            text-decoration: none;
            color: white;
            box-sizing: border-box;
            transition: border-bottom 0.2s ease, padding-bottom 0.3s ease;

            &:hover,
            &.active {
                border-bottom: 2px solid white;
                padding-bottom: 5px;
            }
        }
    }
}

.nava {
    li {
        a {
            display: ruby;
            text-decoration: none;
            color: rgb(59, 130, 246);
            box-sizing: border-box;
            transition: border-bottom 0.2s ease;

            &:hover {
                border-bottom: 2px solid rgb(59, 130, 246);
            }
        }
    }
}



.bg-home {
    background-image: url(/public/backgroundhome.jpg);
    background-size: cover; /* ให้ภาพขยายเต็มพื้นที่ */
    background-position: center; /* จัดตำแหน่งภาพให้อยู่ตรงกลาง */
    min-height: 35vh; /* ความสูงของ div ให้เท่ากับความสูงของหน้าจอ */
    display: flex; /* ใช้ flex เพื่อจัดตำแหน่งข้อความ */
    flex-direction: column; /* ให้เนื้อหาวางในคอลัมน์ */
    justify-content: center; /* จัดให้อยู่กลางแนวตั้ง */
    text-align: center; /* จัดข้อความให้อยู่กลางแนวนอน */
    padding: 20px; /* เพิ่ม padding เพื่อไม่ให้ข้อความชิดขอบ */
  }



  
  
  .scrollbar-hidden::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }
  
  .scrollbar-hidden {
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
    scrollbar-width: none;     /* For Firefox */
  }
  